/* src/components/ChatPageMobile.css */

.chat-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: Arial, sans-serif;

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .messages-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }

  .message {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 8px;
    max-width: 80%;
  }

  .sent {
    align-self: flex-end;
    background-color: #437dad;
    color: white;
  }

  .received {
    align-self: flex-start;
    background-color: #e1e1e1;
  }

  .user {
    font-weight: bold;
    margin-right: 5px;
  }

  .text {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .date {
    font-size: 0.8em;
    color: #ffffff;
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 20px;

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      width: 100%;
    }

    button {
      padding: 5.5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .chat-profile{
    height: 5em;
    background-color: grey;
    border-top: .5em;
    border-radius: 2em 2em 0em 0em;
  }
}
