body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #deebf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #root {
    width: 100%;
    align-items: center;
    height: 100%;
  }
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logoLogin {
  width: 35em;
}
.banner {
  background-color: #34638a;
  width: 50%;
  height: 100vh;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.64);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginPagecontainer {
  width: 50%;
  height: auto;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login-container {
  background-color: #ffffff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
}
.ant-form-item-label > label {
  font-weight: bold;
  color: #555;
}

.ant-btn-primary {
  margin-top: 3em;
  background-color: #1890ff;
  border-color: #1890ff;
}

.ant-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}
