* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.mobile-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #34638a;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 15px;
  padding-right: 15px;

  .logo {
    display: flex;
    align-items: center;
    width: 40px;
    transform: scale(1.5);
    justify-self: left;
    /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.274); */
    border-radius: 20%;
  }
}

.adm-popover-menu-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.adm-plain-anchor {
  padding-left: 0;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  background-color: #437dad;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.mobile-header .adm-avatar {
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.274);
}

.mobile-content {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #ffffff;
  width: 100%;
  max-width: 100vw;
  padding-top: 30px;
}

.tabbar-container {
  margin: 16px 16px 16px;
  padding: 8px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.adm-tab-bar {
  padding: 0px;
}

.adm-tab-bar-item {
  color: #4e4e4e !important;
}

.adm-tab-bar-item-active {
  color: #34638a !important;
  transform: scale(1.2);
  transform-origin: center;
}

.user-popover {
  background-color: #ffffff;
  border-radius: 8px;
  z-index: 1000;

  .adm-button {
    margin-top: 10px;
    border-color: #e0e0e0;
  }

  .languages {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 10px;
    }

    .adm-radio {
      margin-right: 12px;
    }
  }
}

