.map-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: gainsboro; */
  width: 100%;
  margin-bottom: 20px;

  .filter {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    /* box-shadow: 0 0 5px 0 rgba(0,0,0,0.2); */
    border-radius: 5px;
    /* justify-content: space-between; */

    .button-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;

      .icon {
        margin-right: 20px;
        align-self: initial;
      }
    }

    Button {
      align-items: center;
    }
  }
}
