.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.app-header {
  background: #34638a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-text {
  color: white;
  margin: 0;
}

.logo-button {
  display: flex;
  align-items: center;
  border-style: none;
  background-color: transparent;
}

.logo {
  height: 60px;
  cursor: pointer;
}

.custom-divider {
  background-color: #dbdfe0;
  height: 32px;
}

.headers-links {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 2em;
  a {
    color: white;
    text-decoration: none;
  }
}

.link-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  color: white;
}

.app-content {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  background: #e7ecedd4;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.ant-btn-color-primary {
  background-color: #34638a !important;
  border-color: #34638a !important;
  margin: 0;
}

.ant-btn-color-primary.ant-btn-link {
  color: #34638a;
  background-color: transparent !important;
  border-color: transparent !important;
}

.app-footer {
  background: #34638a;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;

}
