.activities-container {
  height: 100%;

  .create-activity-modal {
    .adm-center-popup-wrap {
      width: 100%;
    }
    .adm-form-item-required-asterisk {
      color: transparent;
    }

    .adm-list-item-content-prefix {
      width: 25px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .adm-list-item {
      padding: 0;
    }

    .adm-list-item-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #d9d9d9;
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 0;
      border-radius: 10px;
      width: 100%;
    }

    .adm-list-item-content-main {
      padding: 0;
    }
  }

  .card-activities {
    display: flex;
    gap: 1em;
    flex-direction: column;
  }

  .card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;

    .card-title {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 60px;
      text-align: justify;
    }

    .card-footer {
      padding-top: 11px;
      border-top: 1px solid #e5e5e5;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        font-size: 12px;
        width: 80px;
        height: 40px;
      }

      .date-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        font-size: 12px !important;
        color: #4e4e4e;

        span {
          margin-left: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* background-color: black; */

  .adm-search-bar {
    width: 100%;
    margin-right: 20px;
  }

  .adm-search-bar-active .adm-search-bar-input-box {
    border-color: #f5f5f5 !important;
    background-color: #f5f5f5 !important;
  }

  .adm-button-primary {
    width: 32px;
    height: 32px;
  }
}

.scroll {
  overflow-y: auto;
  padding: 10px;
  max-height: calc(100vh - 260px);
}
